section#subscribe{
    background: url(../../assets/subscribe-bg.png) no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    color: var(--color-white);
}
.subscribe h2{
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
}

form > *{
    width: 100%;
    max-width: 50rem;
    margin: 3rem auto;
}
form input{
    padding: 1rem;
    background: transparent;
    border: 1px solid #777;
    border-radius: 5px 0 0 5px;
    color: var(--color-white);
    font-size: 1.6rem;
    outline: none;
    width: 80%;
}
form button{
    padding: 1rem;
    background: var(--color-secondary);
    color: var(--color-white);
    border-radius: 0 5px 5px 0;
    border: 1px solid #777;
    outline: none;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}